# -*- coding: utf-8 -*-
#
# Copyright (C) 2024-2025 University of Münster.
#
# invenio-urn-provider is free software; you can redistribute it and/or
# modify it under the terms of the MIT License; see LICENSE file for more
# details.

# TODO: Generate this manifest file by running the following commands:
# (please sort the lines in this file after running below commands)
#
#  git init
#  git add -A
#  pip install -e .[all]
#  check-manifest -u

# added by check-manifest
include *.in
include *.rst
include *.sh
include *.txt
include *.yml
include babel.ini
recursive-include tests *.ini
recursive-include tests *.py
